language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm
  - nightly
install: composer install
script:
  - vendor/bin/phpunit --bootstrap ./tests/bootstrap.config.sqlite.php tests/
  - vendor/bin/phpunit --bootstrap ./tests/bootstrap.config.mysql.php tests/
